{
    "contours": {
        "proto": "http",
        "host": "localhost",
        "port": 8000
    },
    "elevation": {
        "urlTemplate": "https://surfacemap.golemresearch.net:30800/terra512/{z}/{x}/{y}.img"
    },
    "nearmap": {
        "attribution": "Nearmap",
        "apikey": "<<API KEY>>",
        "urlTemplate": "https://api.nearmap.com/tiles/v3/Vert/{z}/{x}/{y}.jpg?tertiary=satellite&apikey={apiKey}"
    },
    "arcgis": {
        "attribution": "ArcGIS Online",
        "apikey": "",
        "urlTemplate": "https://services.arcgisonline.com/arcgis/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}"
    },
    "osm": {
        "attribution": "Open Street Maps",
        "apikey": "",
        "urlTemplate": "https://tile.openstreetmap.org/{z}/{x}/{y}.png"
    },
    "geocoder": {
        "proto": "http",
        "host": "localhost",
        "port": 8060
    }
}
