@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  width: 100%;
  height: 100%;
  background: #85ccf9;
}

#slider-id {
    width: 400px;
    margin: 10px;
}

table.controls td {
    padding: 2px 5px;
}
table.controls td:nth-child(3) {
    text-align: right;
    min-width: 3em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
}

.locate {
  top: 5em;
  left: .5em;
}

