@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map-temp {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 550px;
}
#map {
  width: 100%;
  height: 420px;
}

#slider-id {
    width: 492px;
    margin: 10px;
}

table.controls td {
    padding: 2px 5px;
}
table.controls td:nth-child(3) {
    text-align: right;
    min-width: 3em;
}
